[
    {
        "search": "tcx-test-repo",
        "replacement": "examplebu"
    },
    {
        "search": "test-project-tcx",
        "replacement": "exampleproject"
    },
    {
        "search": "https://github.com/examplebu/exampleproject",
        "replacement": "https://github.com/examplebu/exampleproject"
    },
    {
        "search": "Example project used to demonstrate all aspects of a project development and deployment",
        "replacement": "Example project used to demonstrate all aspects of a project development and deployment"
    },
    {
        "search": "opencepk/opencepk-tto-platform-devops",
        "replacement": "opencepk/example-github-team-name"
    },
    {
        "search": "* [Example Person](mailto:eperson@tucowsinc.com)",
        "replacement": "* [Example Person](mailto:eperson@opencepk.com)"
    }
]
